
{% extends 'main_app/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4">About Us</h1>
            <p class="lead">We provide insurance services for everyone.</p>
            <hr class="my-4">
            <p>Our mission is to offer comprehensive insurance solutions tailored to meet the diverse needs of our clients. We are committed to providing exceptional service and support to ensure peace of mind for our customers.</p>
            <p>With a team of experienced professionals, we strive to deliver innovative and reliable insurance products that protect what matters most to you.</p>
        </div>
    </div>
</div>
{% endblock %}

